@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <label for="search" >Search for a movie: </label>
        <input  type="text"  name="search" id="search"> 
    </div>
    <div id="error">
     
    </div>
    <div id="show">
     
    </div>
</div>