<!DOCTYPE hmtl>
<html>
    <head>
        <meta charset="utf8" />
        <meta name="descripition" content="Learning about JQuery"/>
        <title>Contact Cards</title>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- linking a css style sheet -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/contact_card.css') }}">
        <!-- linking a javascript file -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/contact_card.js') }}"></script>
    </head>
    <body>
        <div id="container"> 
           <form>                
                <label for="f_name">First Name:</label>
                    <input type="text" name="fName" id="f_name" placeholder="First Name" /><br><br>
                <label for="l_name">Last Name:</label>
                    <input type="text" name="lName" id="l_name" placeholder="Last Name"/><br><br>
                <label for="description">description:</label>
                    <textarea row="10" cols="30" id="description"></textarea><br><br>
                <button>Submit</button>
           </form>        
           <div id="cards"></div>          
        </div>
    </body>
</html>
