*.zip
/pythonstack/myEnvironments
/tobediscarded
/projects
/pythonstack/febuary_2017
/pythonstack/01_09_2017
/pythonstack/django/GraphViz_x64
/pythonstack/django/django-extensions
/pythonstack/django/managaer_group
/pythonstack/django/pygraphviz
_site
