// Place all the styles related to the DojoSurvey controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p.success {
    background-color: lightgreen;
    width:200px

}


p.danger {
    background-color: red;
    width:200px;
    color:black;


}
