@{
    ViewData["Title"] = "Home Page";
}
<form action="" method="post">   
           
        <label for="first_name">First Name:</label>
            <input type="text" name="FirstName" id="first_name" placeholder="Last" /><br><br>
        <label for="last_name">Last Name:</label>
            <input type="text" name="LastName" id="last_name" placeholder="Last" /><br><br>
        <label for="age">Age:</label>
            <input type="number" name="Age" id="age" /><br><br>
        <label for="email">Email Address:</label>
            <input type="email" name="Email" id="email" placeholder="NotBaotwan@Way.com" /><br><br>
        <label for="password">Password:</label>
            <input type="password" name="Password" id="password" /><br><br>       
        <input type='submit' value='Sumbit'>
 </form>    


 <div>
    @{
        foreach(var error in ViewBag.errors)
        {
            //If there are any errors for a field...
            if(@error.Errors.Count > 0)
            {
                // We show the first error for that field
                <p>@error.Errors[0].ErrorMessage</p>
            }
        }
    }
</div> 