/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px; 
 /*outline:1px dotted red;*/
}

h1 {
    color:#b3b3cc
}
#footer p {
    color:#b3b3cc;
    font-weight: bold;    
}
#navigation ul{
 margin-top: 0px;
 padding-top:0px;
 padding-left:40px;  
 color:#ffffff
}
#navigation ul ul{
 padding-left:15px;  
}
.js_code{
    color:#6600cc;
}
#navigation ul li a,p a{
 color:#00ffff;  
}
#main_page ul li a{
 color:#00ffff;
}

#main_page ul{
 padding:20px;
}
#navigation p{
 margin-bottom: 0px;
 margin-left:20px;
 color:#00ffff;
}
#main_page p,h2{
 margin-bottom: 10px;
}
#wrapper{
 background-color:#002b80;
 width:970px;
 padding:10px;
}
#header{
 background-color:#ff1a1a;
 border-radius: 5px;
 height:40px;
}

 #main_content{
  margin-top:20px; 
  margin-bottom:20px;
 }
 
 #navigation{
 height: 250px;
 width: 175px;
 border-radius: 5px;
 background-color: #008080;
 display:inline-block;
 vertical-align:top;
 margin-right:20px;
 padding:20px; 
 }
 
#main_page{
 height:650px;
 width:685px;
 border-radius: 5px;
 background-color: #000d1a;
 display:inline-block;
 color:#b3b3cc;
 padding:20px; 
}

#footer{
 background-color:#8585ad;
 border-radius: 5px;
 height:40px;
 padding:5px; 
}
