   div {width: 1000px;
                height: 200px;
    } 

    .line{width: 1000px;
        text-align: center
    }            
    .time {
        font-family: Arial, Helvetica, sans-serif;   
        padding-left:50px;
        padding-right:50px;
        margin-left:350px;               
                        
    }
            
    p,h2{ border: 2px solid black; 
        padding:0px;
        width:200px;
        margin-left:400px;
        
    } 