@{
    ViewData["Title"] = "Quoting Dojo";
}



<form action="" method="POST">
   <h1 class="col-xs-12 col-md-12 col-md-push-3">Welcome to QuotingDojo</h1>
  <div class="row">
    <label for="author" class="col-xs-12 col-md-2 col-md-push-1">Your Name</label>
    <input type="text" class="col-xs-12 col-md-2 " id="author" name="author" placeholder="first last" value=@ViewBag.info.author>
  </div>
  <div class="row">
    <label for="quote" class="col-xs-12 col-md-2 col-md-push-1">Your Quote</label>
    <textArea class="col-xs-12 col-md-8" id="quote" name="quote" placeholder="Enter quote....">@ViewBag.info.quote</textArea>
  </div>  
   <div class="form-inline col-xs-12 col-md-12 col-md-push-1">
    <button type="submit" class="btn btn-default">Add my quote!</button> 
    <a class="btn btn-default" href="quotes" role="button">Skip to quote</a>
   </div>
</form>

@foreach(var error in ViewBag.errors){
  <p>@error</p>
}