<html>
    <head>
        <title>TheWall</title>
        <meta charset="utf8" />
        <meta name="descripition" content="Learning about Flask"/>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/thewall.js')}}"></script>
        <link rel= 'stylesheet' type= 'text/css' href= "{{ url_for('static', filename='css/thewall.css')}}">
    </head>
    <body>
        <div id="container">
            <div id="header"></div>
            <form id="msg_post" action="/postmessage" method="post">
                <textArea rows="5" cols="50"  name="content"></textArea><br>
                <button>Post a message</button>
            </form>
            <div id="comment_board">
                
                 {% for post in session['posts'] %}
                    <form id="msg_comment" action="/comment" method="post">
                        <div  id="post">
                            <h6>{{post['first_name']}} {{post['last_name']}} - {{post['updated_at']}}</h6>
                            <p>{{post['message']}}</p>
                            {% for comment in session['comments'][post['msg_id']] %}
                                <div>
                                    <h6>{{session['users'][comment[0]][0]}} {{session['users'][comment[0]][1]}} - {{comment[2]}}</h6>
                                    <p>{{comment[1]}}</p>
                                </div>
                            {% endfor %}
                        </div>
                        <textArea rows="3" cols="50"  name="content"></textArea><br>
                        <input type="hidden" name="msg_id" value={{post['msg_id']}}/>
                        <button>Post a comment</button>
                    </form>
                 {% endfor %}
            </div>
        </div>
    </body>
</html>